#logo {
    height: 40px;
}

#logo-img {
    height: 80px;
    background-color: #01628B;
}

#logo-img.shrink {
    height: 50px;
}

nav {
    background-color: #01628B;
}
.navbar-collapse:not(.collapse) {
    padding-bottom: 20px;
}
body {
    background-color: #D9EDF5;
}
.base {
    padding: 20px;
}
.btn-primary {
    background-color: #D63063;
    border-color: #D63063;
}
.contentbox {
    border-radius: 25px;
    background-color: white;
}
