:root {
    --pink: #FD41A7;
    --dark-pink: #ab274f;
    --nav-background: #01628B;
    --nav-highlight: #43a5cf;
    --background-blue: 217, 237, 245;
    --filters-background: #f8f9fa;
}

:root[data-bs-theme="dark"] {
    --pink: #d1368b;
    --background-blue: 111, 137, 148;
    --filters-background: #343a40;
}

#logo {
    height: 40px;
    margin: 0px;
}

#logo-img {
    height: 80px;
    background-color: var(--nav-background);
}

#logo-img.shrink {
    height: 50px;
}

#logo.shrink {
    margin-right: 30px;
}

nav {
    background-color: var(--nav-background);
}

body {
    background-color: rgb(var(--background-blue));
}

.base {
    padding: 20px;
}

.btn-primary {
    background-color: var(--pink);
    border-color: var(--pink);
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn.show,
.navbar-nav .dropdown .dropdown-menu .btn-group-vertical .dropdown-item.bg-icon-background:hover,
.navbar-nav .dropdown .dropdown-menu .btn-group-vertical .dropdown-item:active:hover,
.navbar-nav .dropdown .dropdown-menu .btn-group-vertical .dropdown-item:active {
    background-color: var(--dark-pink);
    border-color: var(--dark-pink);
    color: white;
}

.nav-link {
    color: rgba(255, 255, 255, 0.8)
}

.nav-link:hover {
    color: white;
}

.tag {
    background-color: rgb(var(--background-blue));
}

.btn.tag:hover {
    background-color: rgba(var(--background-blue), 0.6);
}

.bg-icon-background {
    background-color: var(--pink);
    color: white;
}

.toggler-button[aria-expanded=false] .item-expanded {
    display: none;
}

.toggler-button[aria-expanded=true] .item-collapsed {
    display: none;
}

.nav-link.nav-notification {
    color: black
}

.nav-link.nav-notification:hover {
    background-color: var(--nav-highlight);
    border-color: var(--nav-highlight);
    color: white;
}

.nav-link.nav-notification.selected {
    background-color: var(--nav-background);
    font-weight: bold;
    color: white;
}

.nav-link.nav-notification.selected:hover {
    border-color: var(--nav-background);
}

.notification-button {
    width: 65px;
    padding: 5px;
}

.notification-img {
    width: 45px;
    height: 45px;
}

.notification-title {
    min-width: 105px;
    max-width: 105px;
}

.notification-item {
    background-color: #d6eef8;
}

.nav-notification:not(.selected):hover {
    opacity: 0.8;
}

.notifications-badge {
    transform: translate(-5px, -50%);
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #form-filter {
        background-color: var(--filters-background);
        /* equivalent to .bg-body-tertiary */
    }
}


@media only screen and (max-width: 992px) {

    /* For tablets: */
    .navbar-collapse.show {
        padding-bottom: 10px;
    }

    .notifications-badge {
        transform: translateY(-5%);
    }
}

.opportunity-post-content {
    height: 50vh;
    overflow-y: scroll;
}

.user-circle .rounded-circle,
.user-circle.rounded-circle {
    width: 100px;
    height: 100px;
}

.user-circle:hover {
    >.rounded-circle img {
        filter: brightness(0.8);
    }
}

#btn-view-all:hover {
    cursor: pointer;

    >div.rounded-circle {
        background-color: var(--dark-pink);
    }
}

.img-fluid {
    object-fit: cover;
}

.card-img-top {
    object-fit: cover;
}

.rotate-n45 {
    transform: rotate(-45deg);
}

.accessibility-icon {
    width: 30px !important;
    height: 30px !important;
}

#map {
    height: 400px;
}

#time-table {
    --bs-table-striped-bg: var(--bs-tertiary-bg);
}

#btn-view-all {
    width: 140px;
}

.price-prefix {
    width: 30px;
}

.date-prefix {
    width: 40px;
}

#search_button {
    min-width: 58px;
}

#bioTextArea {
    height: 100px;
}

#personTags {
    height: 35px;
}

.social-icon {
    width: 32px;
}

.nav-icon {
    width: 24px;
}

.contributor-item {
    width: 140px;
}

.grid-card {
    width: 250px;
    height: 250px;
}

.stretched-link-container {
    transform: rotate(0);
}

.page-link:not(.active) {
    color: var(--pink);
}

.page-link.active {
    color: white;
    background-color: var(--pink);
    border-color: var(--pink);
    font-weight: bold;
}

.page-link:not(.active):hover {
    color: var(--dark-pink);
}

.form-check-input:checked {
    background-color: var(--pink);
    border-color: var(--pink);
}

.bg-nav {
    background-color: var(--nav-background);
    color: white;
}

.ck-editor__editable_inline {
    min-height: 200px;
}

label.required:after { 
   content:"*";
   color:red;
   font-weight: bold;
}

/*** Responsive design ***/

/* For extra extra wide screens (e.g. very large desktops), i.e. Bootstrap's "xxl" breakpoint: */
@media only screen and (min-width: 1401px) {
    /* body {
        background-color: red;
    } */
}

/* For extra wide screens (e.g. large desktops), i.e. Bootstrap's "xl" breakpoint: */
@media only screen and (max-width: 1400px) {
    /* body {
        background-color: orange;
    } */
}

/* For wide screens (e.g. desktops), i.e. Bootstrap's "lg" breakpoint: */
@media only screen and (max-width: 1200px) {
    /* body {
        background-color: yellow;
    } */
}

/* For medium-sized screens (e.g. tablets), i.e. Bootstrap's "md" breakpoint: */
@media only screen and (max-width: 992px) {
    .navbar-collapse.show {
        padding-bottom: 10px;
    }

    .notifications-badge {
        transform: translateY(-5%);
    }

    /* body {
        background-color: green;
    } */
}

/* For narrow screens (e.g. mobile phones), i.e. Bootstrap's "sm" breakpoint: */
@media only screen and (max-width: 768px) {
    #form-filter {
        background-color: var(--filters-background);
        /* equivalent to .bg-body-tertiary */
    }

    /* body {
        background-color: blue;
    } */
}

/* For very narrow screens, i.e. Bootstrap's "xs" breakpoint: */
@media only screen and (max-width: 576px) {
    /* body {
        background-color: purple;
    } */
}