:root {
    --pink: #FD41A7;
    --dark-pink: #ab274f;
    --nav-background: #01628B;
    --nav-highlight: #43a5cf;
    --background-blue: 217, 237, 245;
    --filters-background: #f8f9fa;
}

:root[data-bs-theme="dark"] {
    --pink: #d1368b;
    --background-blue: 111, 137, 148;
    --filters-background: #343a40;
}

#logo {
    height: 40px;
    margin: 0px;
}

#logo-img {
    height: 80px;
    background-color: var(--nav-background);
}

#logo-img.shrink {
    height: 50px;
}

#logo.shrink {
    margin-right: 30px;
}

nav {
    background-color: var(--nav-background);
}

body {
    background-color: rgb(var(--background-blue));
}

.base {
    padding: 20px;
}

.btn-primary {
    background-color: var(--pink);
    border-color: var(--pink);
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn.show,
.navbar-nav .dropdown .dropdown-menu .btn-group-vertical .dropdown-item.bg-icon-background:hover,
.navbar-nav .dropdown .dropdown-menu .btn-group-vertical .dropdown-item:active:hover,
.navbar-nav .dropdown .dropdown-menu .btn-group-vertical .dropdown-item:active {
    background-color: var(--dark-pink);
    border-color: var(--dark-pink);
    color: white;
}

.nav-link {
    color: rgba(255, 255, 255, 0.8)
}

.nav-link:hover {
    color: white;
}

.tag {
    background-color: rgb(var(--background-blue));
}

.btn.tag:hover {
    background-color: rgba(var(--background-blue), 0.6);
}

.bg-icon-background {
    background-color: var(--pink);
    color: white;
}

.toggler-button[aria-expanded=false] .item-expanded {
    display: none;
}

.toggler-button[aria-expanded=true] .item-collapsed {
    display: none;
}

.nav-link.nav-notification {
    color: black
}

.nav-link.nav-notification:hover {
    background-color: var(--nav-highlight);
    border-color: var(--nav-highlight);
    color: white;
}

.nav-link.nav-notification.selected {
    background-color: var(--nav-background);
    font-weight: bold;
    color: white;
}

.nav-link.nav-notification.selected:hover {
    border-color: var(--nav-background);
}

.notification-button {
    width: 65px;
    padding: 5px;
}

.notification-img {
    width: 45px;
    height: 45px;
}

.notification-title {
    min-width: 105px;
    max-width: 105px;
}

.notification-item {
    background-color: #d6eef8;
}

.nav-notification:not(.selected):hover {
    opacity: 0.8;
}


@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #form-filter {
        background-color: var(--filters-background);
        /* equivalent to .bg-body-tertiary */
    }
}


@media only screen and (max-width: 992px) {

    /* For tablets: */
    .navbar-collapse.show {
        padding-bottom: 10px;
    }
}

.user-circle .rounded-circle {
    width: 100px;
    height: 100px;

    >img {
        object-fit: cover;
    }
}

.user-circle:hover {
    >.rounded-circle img {
        filter: brightness(0.8);
    }
}

#btn-view-all:hover {
    cursor: pointer;

    >div.rounded-circle {
        background-color: var(--dark-pink);
    }
}

.image-container {
    padding-top: 56.25%;
}

.rotate-n45 {
    transform: rotate(-45deg);
}

.accessibility-icon {
    width: 30px !important;
    height: 30px !important;
}