{% macro accessibility_icon(icon, danger, extra_classes="") %}
{% if icon == "photosensitivity" %}
{% set title = "photosensitivity friendly" %}
{% if danger %}
{% set icon_name = "lightbulb-off-fill" %}
{% else %}
{% set icon_name = "lightbulb-fill" %}
{% endif %}
{% elif icon == "hearing" %}
{% set icon_name = "ear-fill" %}
{% set title = "hearing accessible" %}
{% elif icon == "vision" %}
{% set icon_name = "eye-fill" %}
{% set title = "visually accessible" %}
{% elif icon == "relaxed performance" %}
{% set icon_name = "infinity" %}
{% set title = "relaxed performance" %}
{% elif icon == "mobility aid" %}
{% set icon_name = "person-wheelchair" %}
{% set title = "mobility aid accessible" %}
{% else %}
{% set icon_name = "question" %}
{% set title = "Congratulations! You've found a bug. This state should not exist." %}
{% endif %}
<li class="list-inline-item position-relative text-bg-{{ 'danger' if danger else 'primary' }} rounded-circle p-0 m-0 accessibility-icon {{extra_classes}}"
    title="{{ 'Not ' if danger }}{{ title|title }}">
    <i class="bi bi-{{ icon_name }} position-absolute top-50 start-50 translate-middle p-2"></i>
</li>
{% endmacro %}