{% extends "base.html" %}
{% block title %}Create Event{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header mb-3">
        <h1>Create Event</h1>
        <div class="form-text">Fields labelled <strong>✽</strong> are required</div>
    </div>
    <form method="POST" action="{{url_for('events.create_event_submit') }}">
        {{ event_form.num_occurrences() }}
        <fieldset class="form-group mb-3">
            <legend>Event Information</legend>
            <div class="form-group mb-3">
                {{ event_form.title.label() }}
                {{ event_form.title() }}
            </div>
            <div class="form-group mb-3">
                {{ event_form.description.label() }}
                {{ event_form.description() }}
            </div>
            <div class="form-group mb-3">
                {{ event_form.accessibility_notes.label() }}
                {{ event_form.accessibility_notes() }}
            </div>
            <div class="form-group mb-3">
                {{ event_form.url.label() }}
                {{ event_form.url() }}
            </div>
            <div class="form-group mb-3">
                {{ event_form.tags.label() }}
                {{ event_form.tags() }}
                <div id="tags-help-block" class="form-text">{{ event_form.tags.description }}</div>
            </div>
            <div class="form-group mb-3">
                <div class="row">
                    <div class="col-lg-6">
                        {{ event_form.min_ticket_price.label() }}
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            {{ event_form.min_ticket_price() }}
                        </div>
                        <div id="min-ticket-price-help-block" class="form-text">{{ event_form.min_ticket_price.description }}</div>
                    </div>
                    <div class="col-lg-6">
                        {{ event_form.max_ticket_price.label() }}
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            {{ event_form.max_ticket_price() }}
                        </div>
                        <div id="max-ticket-price-help-block" class="form-text">{{ event_form.max_ticket_price.description }}</div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group mb-3">
            <legend>Event Occurrences</legend>
            <div id="occurrences" class="form-group mb-3"> {# TODO: Fix alignment #}
                {% from "macros.html" import create_event_occurrence %}
                {% for occurrence in occurrences %}
                <div id="occurrence-{{ loop.index0 }}" class="occurrence">
                    {{ create_event_occurrence(occurrence=occurrence, occurrence_number=loop.index0) }}
                </div>
                {% endfor %}
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-auto">
                    <button type="button" id="add_occurrence_btn" class="btn btn-secondary">
                        <i class="bi bi-plus-lg"></i>
                        Add Another Occurrence
                    </button>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group mb-3">
            <legend>Venue Information</legend>
            <div class="form-group mb-3">
                <div class="row">
                    <div class="col-lg-6">
                        {{ event_form.venue_name.label() }}
                        {{ event_form.venue_name() }}
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-2">
                        {{ event_form.venue_address.label() }}
                        {{ event_form.venue_address() }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="form-group mb-3">
                        {{ event_form.venue_is_mobility_aid_accessible.label() }}
                        {% for radio_option in event_form.venue_is_mobility_aid_accessible %}
                        <div class="form-check">
                            {{ radio_option(class_="form-check-input") }}
                            {{ radio_option.label(class_="form-check-label") }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row justify-content-center">
            <div class="col-auto">
                {{ event_form.submit(class_="btn btn-primary") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script>
    var numOccurrences = 0;

    let buttons = document.getElementsByClassName("delete-btn");
    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", event => {
            deleteOccurrence(i + 1);
        });
    }

    function addOccurrence() {
        let data = new FormData();
        data.append("previous_date", document.getElementById(`occurrence-${numOccurrences}-date`).value);
        data.append("previous_start_time", document.getElementById(`occurrence-${numOccurrences}-start-time`).value);
        data.append("previous_end_time", document.getElementById(`occurrence-${numOccurrences}-end-time`).value);
        data.append("previous_is_relaxed_performance", document.getElementById(`occurrence-${numOccurrences}-is-relaxed-performance`).checked);
        data.append("previous_is_hearing_accessible", document.getElementById(`occurrence-${numOccurrences}-is-hearing-accessible`).checked);
        data.append("previous_is_visually_accessible", document.getElementById(`occurrence-${numOccurrences}-is-visually-accessible`).checked);

        numOccurrences++;
        data.append("occurrence_number", numOccurrences);
        fetch("{{ url_for("events.create_event_occurrence") }}", {
            method: "POST",
            body: data,
        }).then(function (response) {
            if (response.ok) {
                response.text().then(function (content) {
                    new_element = document.createElement("div");
                    new_element.innerHTML = content.replace(/occurrence-occurrence_number/g, `occurrence-${numOccurrences}`);
                    new_element.id = `occurrence-${numOccurrences}`;
                    new_element.classList.add("occurrence");
                    document.getElementById(`occurrence-${numOccurrences - 1}`).insertAdjacentElement("afterend", new_element);
                    document.getElementById("num_occurrences").value = numOccurrences + 1;
                });
            } else {
                console.error("Error: " + response.status + " – Failed to create a new occurrence form block.");
            }
        });
    }

    function deleteOccurrence(occurrenceNum) {
        alert("TODO: FIX ME - DELETING DOESN'T WORK PROPERLY");
        for (let i = occurrenceNum + 1; i <= numOccurrences; i++) {
            document.getElementById("occurrences-" + (i - 1) + "-date").value = i == numOccurrences ? null : document.getElementById("occurrences-" + i + "-date").value;
            document.getElementById("occurrences-" + (i - 1) + "-start_time").value = i == numOccurrences ? null : document.getElementById("occurrences-" + i + "-start_time").value;
            document.getElementById("occurrences-" + (i - 1) + "-end_time").value = i == numOccurrences ? null : document.getElementById("occurrences-" + i + "-end_time").value;
            document.getElementById("occurrences-" + (i - 1) + "-is_relaxed_performance").checked = i == numOccurrences ? false : document.getElementById("occurrences-" + i + "-is_relaxed_performance").checked;
            document.getElementById("occurrences-" + (i - 1) + "-is_visually_accessible").checked = i == numOccurrences ? false : document.getElementById("occurrences-" + i + "-is_visually_accessible").checked;
        }
        document.getElementById("occurrences-" + numOccurrences).classList.add(["d-none"]);
        document.getElementById("num_occurrences").value = numOccurrences;
        numOccurrences--;
    }

    document.getElementById("add_occurrence_btn").addEventListener("click", event => {
        addOccurrence();
    });

    $("form").bind("keypress", function (e) {
        if (e.keyCode == 13) {
            $("#btnSearch").attr('value');
            //add more buttons here
            e.preventDefault();
        }
    });

    let elements = document.getElementsByTagName("label");
    for (let i = 0; i < elements.length; i++) {
        if (!elements[i].classList.contains("form-check-label")) {
            elements[i].classList.add("form-label");
        }
    }
    function setDateTimesAsRequired() {
        let occurrences = document.getElementsByClassName("occurrence");
        for (let i = 0; i < occurrences.length; i++) {
            if (occurrences[i].classList.contains("d-none")) {
                document.getElementById("occurrences-" + i + "-date").required = false;
                document.getElementById("occurrences-" + i + "-start_time").required = false;
            } else {
                document.getElementById("occurrences-" + i + "-date").required = true;
                document.getElementById("occurrences-" + i + "-start_time").required = true;
            }
        }
    }
    setDateTimesAsRequired();

</script>
{% endblock %}