{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="page-header mb-3">
    <h1>Debug</h1>
    <form action="/debug/create_demo_users">
        <button class="btn btn-primary mb-3" type="Submit">Create demo users</button>
    </form>
    <form action="/debug/create_demo_events">
        <button class="btn btn-primary mb-3" type="Submit">Create demo events</button>
    </form>
    <form action="/debug/create_demo_opportunities">
        <button class="btn btn-primary mb-3" type="Submit">Create demo opportunities</button>
    </form>
</div>
{% endblock %}