{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block content %}
<form method="POST" class="container-lg">
    <div class="row align-items-center mb-4">
        <div class="col-12 col-md-5 col-xl-4">
            <h1>Calendar</h1>
        </div>
        <div class="col-12 col-md-7 col-xl-8">
            <div class="d-flex">
                <div class="flex-grow-1 pr-2 input-group">
                    <div class="form-floating">
                        <input class="form-control" id="search" name="search" placeholder="Search" type="text" value="">
                        <label for="search">Search</label>
                    </div>
                    <button class="btn btn-primary" id="search_button" name="search_button" type="submit" title="Search">
                        <i class="bi bi-search bi-bold"></i>
                        <span class="visually-hidden">Search</span>
                    </button>
                </div>
            </div>
        </div>
    </div> <!-- HEADER ROW END -->

    <div class="row mb-4">
        <div class="col-12 col-md-5 col-xl-4 mb-4">
            <div id="calendar" class="col pb-2 px-1 mb-2 form-control">
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        <button class="btn" type="button"><i class="bi bi-arrow-left-short"></i></button>
                    </div>
                    <div class="col-auto">
                        June 2024
                    </div>
                    <div class="col-auto">
                        <button class="btn" type="button"><i class="bi bi-arrow-right-short"></i></button>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center m-0 mb-1 p-0">
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">S</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">M</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">T</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">W</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">T</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">F</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">S</div>
                </div>
                <div class="row align-items-center justify-content-center m-0 mb-1">
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 text-body-tertiary disabled" disabled="">26</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 text-body-tertiary disabled" disabled="">27</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 text-body-tertiary disabled" disabled="">28</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 text-body-tertiary disabled" disabled="">29</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 text-body-tertiary disabled" disabled="">30</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 text-body-tertiary disabled" disabled="">31</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">1</div>
                </div>
                <div class="row align-items-center justify-content-center m-0 mb-1">
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 btn-outline-primary">2</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">3</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">4</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 btn-outline-primary">5</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 btn-outline-primary">6</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 btn-outline-primary">7</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 btn-outline-primary">8</div>
                </div>
                <div class="row align-items-center justify-content-center m-0 mb-1">
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 btn-primary">9</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 btn-outline-primary">10</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">11</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">12</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">13</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">14</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">15</div>
                </div>
                <div class="row align-items-center justify-content-center m-0 mb-1">
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 btn-outline-primary">16</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">17</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">18</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 btn-outline-primary">19</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">20</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">21</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">22</div>
                </div>
                <div class="row align-items-center justify-content-center m-0 mb-1">
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 btn-outline-primary">23</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">24</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">25</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">26</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">27</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">28</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 disabled" disabled="">29</div>
                </div>
                <div class="row align-items-center justify-content-center m-0 mb-1">
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 btn-outline-primary">30</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 text-body-tertiary disabled" disabled="">1</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 text-body-tertiary disabled" disabled="">2</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 text-body-tertiary disabled" disabled="">3</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 text-body-tertiary disabled" disabled="">4</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 text-body-tertiary disabled" disabled="">5</div>
                    <div class="btn col text-center px-0 py-1 mx-1 border-0 text-body-tertiary disabled" disabled="">6</div>
                </div>
            </div>
            <div id="form-filter" class="row m-1 p-1 pb-1 p-md-0 m-md-0 rounded bg-body-tertiary">
                <div id="filter-header" class="d-flex align-items-center my-3">
                    <div class="h5 mb-0">Filters</div>
                    <button class="btn btn-primary btn-sm toggler-button ms-auto" type="button" data-bs-toggle="collapse"
                        data-bs-target="#filter-collapse" aria-expanded="false" aria-controls="filter-collapse">
                        <i class="bi bi-chevron-down item-collapsed"></i>
                        <i class="bi bi-chevron-up item-expanded"></i>
                    </button>
                </div>

                <div id="filter-collapse" class="collapse mb-3">
                    <div class="form-group mb-3">
                        <label for="sort">Sort</label>
                        <select class="form-select" id="sort" name="sort" placeholder="">
                            <option selected="" value="upcoming">Start Time</option>
                            <option value="alpha-asc">Title (A-Z)</option>
                            <option value="alpha-desc">Title (Z-A)</option>
                        </select>
                    </div>
                    <label class="form-label mb-0">Accessibility</label>
                    <div class="form-text mt-0 pt-0 mb-1">Click the <i class="bi bi-question-circle" aria-label="question mark icon"></i> for more
                        information</div>
                    <div class="form-group mb-3">
                        <div class="form-check">
                            {{ filters.venue_is_mobility_aid_accessible() }}
                            {{ filters.venue_is_mobility_aid_accessible.label(class_="form-check-label") }}
                            <a data-bs-content="Events with venues that are listed as being fully accessible for individuals who use mobility aids, such as wheelchairs."
                                tabindex="0" title="What does this mean?" class="text-link" role="button" data-bs-toggle="popover"
                                data-bs-trigger="focus" data-bs-title="Mobility Aid Accessible Venue">
                                <i class="bi bi-question-circle"></i>
                            </a>
                        </div>
                        <div class="form-check">
                            {{ filters.is_relaxed_performance() }}
                            {{ filters.is_relaxed_performance.label(class_="form-check-label") }}
                            <a data-bs-content="<p>Relaxed performances are adapted shows for those who find standard theater settings challenging. This can include changes to lighting and audio volume, as well as relaxing theatre &quot;rules&quot;.</p><a href='https://www.sensoryfriendly.net/sensory-relaxed-performances/#What-makes-a-performance-relaxed'
                                        title='What is a relaxed performance?' target='_blank' rel='noopener noreferrer'>Click here to learn more.</a>"
                                tabindex="0" title="What does this mean?" class="text-link" role="button" data-bs-toggle="popover"
                                data-bs-trigger="focus" data-bs-title="Relaxed Performance" data-bs-html="true">
                                <i class="bi bi-question-circle"></i>
                            </a>
                        </div>
                        <div class="form-check">
                            {{ filters.is_photosensitivity_friendly() }}
                            {{ filters.is_photosensitivity_friendly.label(class_="form-check-label") }}
                            <a data-bs-content="Any lighting effects used during photosensitivity-friendly events should be safe for individuals who experience photosensitivity."
                                tabindex="0" title="What does this mean?" class="text-link" role="button" data-bs-toggle="popover"
                                data-bs-trigger="focus" data-bs-title="Photosensitivity-Friendly">
                                <i class="bi bi-question-circle"></i>
                            </a>
                        </div>
                        <div class="form-check">
                            {{ filters.is_hearing_accessible() }}
                            {{ filters.is_hearing_accessible.label(class_="form-check-label") }}
                            <a data-bs-content="Events that are hearing accessible are, or have been modified to be, accessible for individuals who are deaf or hard of hearing."
                                tabindex="0" title="What does this mean?" class="text-link" role="button" data-bs-toggle="popover"
                                data-bs-trigger="focus" data-bs-title="Hearing Accessible">
                                <i class="bi bi-question-circle"></i>
                            </a>
                        </div>
                        <div class="form-check">
                            {{ filters.is_visually_accessible() }}
                            {{ filters.is_visually_accessible.label(class_="form-check-label") }}
                            <a data-bs-content="Events that are visually accessible are, or have been modified to be, accessible for individuals who are blind or have low vision."
                                tabindex="0" title="What does this mean?" class="text-link" role="button" data-bs-toggle="popover"
                                data-bs-trigger="focus" data-bs-title="Visually Accessible">
                                <i class="bi bi-question-circle"></i>
                            </a>
                        </div>
                    </div>
                    <label class="form-label">Ticket prices</label>
                    <div class="form-group mb-3">
                        <div class="input-group mb-1">
                            <span class="input-group-text">
                                <div class="text-center price-prefix">Min</div>
                            </span>
                            <span class="input-group-text">$</span>
                            {{ filters.min_ticket_price() }}
                        </div>
                        <div class="input-group">
                            <span class="input-group-text">
                                <div class="text-center price-prefix">Max</div>
                            </span>
                            <span class="input-group-text">$</span>
                            {{ filters.max_ticket_price() }}
                        </div>
                    </div>
                    <label class="form-label">Date range</label>
                    <div class="form-group mb-3">
                        <div class="input-group mb-1">
                            <span class="input-group-text">
                                <div class="text-center date-prefix">Start</div>
                            </span>
                            {{ filters.start_date() }}
                        </div>
                        <div class="input-group">
                            <span class="input-group-text">
                                <div class="text-center date-prefix">End</div>
                            </span>
                            {{ filters.end_date() }}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="row align-items-center py-1">
                            <div class="col-auto pe-0 me-1">
                                <label class="form-label m-0">Match</label>
                            </div>
                            <div class="col-auto px-0 me-1">
                                {{ filters.match_all_tags() }}
                            </div>
                            <div class="col-auto ps-0">
                                <label class="form-label m-0">of these tags</label>
                            </div>
                        </div>
                        {{ filters.tags() }}
                        <div id="tags-help-block" class="form-text">{{ filters.tags.description }}</div>
                    </div>

                    {{ filters.apply_filters(class_="btn btn-primary w-100 mb-1") }}
                    {{ filters.clear_filters(class_="btn btn-secondary w-100") }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 col-xl-8">
            <div class="row">
                <h4 class="text-center text-md-start">Sunday, June 9, 2024</h4>
            </div>
            <div class="row justify-content-center gy-3 mt-0">
                <div class="col-12 d-md-inline d-none mt-0 mb-3">
                    <div class="card overflow-hidden">
                        <div class="row g-0">
                            <div class="col-md-4 overflow-hidden">
                                <img src="/static/dummy/sundaysalsasocial.jpg" class="img-fluid h-100" alt="Image preview for Salsa Sunset Social">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Sunday Salsa Social</h5>
                                    <h6 class="card-subtitle text-body-secondary mb-1">5:30 PM</h6>
                                    <div class="card-text mb-1">Dance the night away to sizzling salsa beats by the waterfront.
                                        Beginners and pros welcome!</div>
                                    <div class="d-flex mb-1 align-items-center">
                                        <div class="rotate-n45">
                                            <i class="bi bi-ticket-perforated-fill me-2"></i>
                                        </div>
                                        <div class="mt-1">$7</div>
                                    </div>
                                    <div class="d-flex align-items-center overflow-x-hidden">
                                        <i class="bi bi-tags-fill me-1"></i>
                                        <button class="ms-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">salsa</button>
                                        <button class="ms-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">latin</button>
                                        <button class="ms-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">social</button>
                                        <button class="ms-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">beginner</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-md-inline d-none mt-0 mb-3">
                    <div class="card overflow-hidden">
                        <div class="row g-0">
                            <div class="col-md-4 overflow-hidden">
                                <img src="/static/dummy/breakthebeatbattle.png" class="img-fluid h-100" alt="Image preview for Salsa Sunset Social">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Break the Beat Battle</h5>
                                    <h6 class="card-subtitle text-body-secondary mb-1">5:30 PM</h6>
                                    <div class="card-text mb-1">Witness jaw-dropping breakdance battles as crews battle it out for
                                        supremacy. Who will break the beat?
                                    </div>
                                    <div class="d-flex mb-1 align-items-center">
                                        <div class="rotate-n45">
                                            <i class="bi bi-ticket-perforated-fill me-2"></i>
                                        </div>
                                        <div class="mt-1">$20</div>
                                    </div>
                                    <div class="d-flex align-items-center overflow-x-hidden">
                                        <i class="bi bi-tags-fill me-1"></i>
                                        <button class="ms-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">breakdance</button>
                                        <button class="ms-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">street
                                            dance</button>
                                        <button class="ms-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">b-boy</button>
                                        <button class="ms-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">competition</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-auto mx-xxl-2 mx-xl-0 d-md-none">

                    <div class="card grid-card mb-2">
                        <a href="/events/7/" class="overflow-hidden ratio ratio-16x9"><img src="/static/dummy/sundaysalsasocial.jpg"
                                class="card-img-top" alt="Image preview for Salsa Sunset Social"></a>
                        <div class="card-body">
                            <div class="stretched-link-container">
                                <h5 class="card-title text-truncate">Sunday Salsa Social</h5>

                                <h6 class="card-subtitle mb-2 text-muted text-truncate">5:30 PM</h6>


                                <div class="d-flex mb-1 align-items-center">
                                    <div class="rotate-n45">
                                        <i class="bi bi-ticket-perforated-fill me-2"></i>
                                    </div>
                                    <div class="mt-1">$7</div>
                                </div>

                                <a href="/events/7/" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-auto mx-xxl-2 mx-xl-0 d-md-none">

                    <div class="card grid-card mb-2">
                        <a href="/events/10/" class="overflow-hidden ratio ratio-16x9"><img src="/static/dummy/breakthebeatbattle.png"
                                class="card-img-top" alt="Image preview for Break the Beat Battle"></a>
                        <div class="card-body">
                            <div class="stretched-link-container">
                                <h5 class="card-title text-truncate">Break the Beat Battle</h5>

                                <h6 class="card-subtitle mb-2 text-muted text-truncate">6:30 PM</h6>


                                <div class="d-flex mb-1 align-items-center">
                                    <div class="rotate-n45">
                                        <i class="bi bi-ticket-perforated-fill me-2"></i>
                                    </div>
                                    <div class="mt-1">$20</div>
                                </div>

                                <a href="/events/10/" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div> <!-- ITEM LIST END -->
    </div> <!-- ITEM ROW END -->
</form>
{% endblock %}