{% extends "filtered-list-view.html" %}
{% block title %}Events{% endblock %}
{% block header_text %}Events{% endblock %}
{% block filters %}
{% if user.is_authenticated %}
<a href="{{ url_for('events.event_create') }}" class="btn btn-primary mb-3 w-100">Create a new event</a>
{% endif %}
<div class="form-group mb-3">
    {{ filters.sort.label() }}
    {{ filters.sort() }}
</div>
<label class="form-label">Accessibility</label>
<div class="form-group mb-3">
    <div class="form-check">
        {{ filters.venue_is_mobility_aid_accessible() }}
        {{ filters.venue_is_mobility_aid_accessible.label(class_="form-check-label") }}
        <a data-bs-content="Events with venues that are listed as being fully accessible for individuals who use mobility aids, such as wheelchairs."
            tabindex="0" title="What does this mean?" class="text-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
            data-bs-title="Mobility Aid Accessible Venue">
            <i class="bi bi-question-circle"></i>
        </a>
    </div>
    <div class="form-check">
        {{ filters.is_relaxed_performance() }}
        {{ filters.is_relaxed_performance.label(class_="form-check-label") }}
        <a data-bs-content="<p>Relaxed performances are adapted shows for those who find standard theater settings challenging. This can include changes to lighting and audio volume, as well as relaxing theatre &quot;rules&quot;.</p><a href='https://www.sensoryfriendly.net/sensory-relaxed-performances/#What-makes-a-performance-relaxed'
                    title='What is a relaxed performance?' target='_blank' rel='noopener noreferrer'>Click here to learn more.</a>" tabindex="0"
            title="What does this mean?" class="text-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
            data-bs-title="Relaxed Performance" data-bs-html="true">
            <i class="bi bi-question-circle"></i>
        </a>
    </div>
    <div class="form-check">
        {{ filters.is_photosensitivity_friendly() }}
        {{ filters.is_photosensitivity_friendly.label(class_="form-check-label") }}
        <a data-bs-content="Any lighting effects used during photosensitivity-friendly events should be safe for individuals who experience photosensitivity."
            tabindex="0" title="What does this mean?" class="text-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
            data-bs-title="Photosensitivity-Friendly">
            <i class="bi bi-question-circle"></i>
        </a>
    </div>
    <div class="form-check">
        {{ filters.is_hearing_accessible() }}
        {{ filters.is_hearing_accessible.label(class_="form-check-label") }}
        <a data-bs-content="Events that are hearing accessible are, or have been modified to be, accessible for individuals who are deaf or hard of hearing."
            tabindex="0" title="What does this mean?" class="text-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
            data-bs-title="Hearing Accessible">
            <i class="bi bi-question-circle"></i>
        </a>
    </div>
    <div class="form-check">
        {{ filters.is_visually_accessible() }}
        {{ filters.is_visually_accessible.label(class_="form-check-label") }}
        <a data-bs-content="Events that are visually accessible are, or have been modified to be, accessible for individuals who are blind or have low vision."
            tabindex="0" title="What does this mean?" class="text-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
            data-bs-title="Visually Accessible">
            <i class="bi bi-question-circle"></i>
        </a>
    </div>
</div>
<label class="form-label">Ticket prices</label>
<div class="form-group mb-3">
    <div class="input-group mb-1">
        <span class="input-group-text">
            <div class="text-center price-prefix">Min</div>
        </span>
        <span class="input-group-text">$</span>
        {{ filters.min_ticket_price() }}
    </div>
    <div class="input-group">
        <span class="input-group-text">
            <div class="text-center price-prefix">Max</div>
        </span>
        <span class="input-group-text">$</span>
        {{ filters.max_ticket_price() }}
    </div>
</div>
<label class="form-label">Date range</label>
<div class="form-group mb-3">
    <div class="input-group mb-1">
        <span class="input-group-text">
            <div class="text-center date-prefix">Start</div>
        </span>
        {{ filters.start_date() }}
    </div>
    <div class="input-group">
        <span class="input-group-text">
            <div class="text-center date-prefix">End</div>
        </span>
        {{ filters.end_date() }}
    </div>
</div>
<div class="form-group mb-3">
    <div class="row align-items-center py-1">
        <div class="col-auto pe-0 me-1">
            <label class="form-label m-0">Match</label>
        </div>
        <div class="col-auto px-0 me-1">
            {{ filters.match_all_tags() }}
        </div>
        <div class="col-auto ps-0">
            <label class="form-label m-0">of these tags</label>
        </div>
    </div>
    {{ filters.tags() }}
    <div id="tags-help-block" class="form-text">{{ filters.tags.description }}</div>
</div>
{% endblock %}

{% block items_to_list %}
{% from "macros.html" import grid_item %}
{% for event, occurrence_count in events %}
<div class="col-auto mx-xxl-2 mx-xl-0">
    {{ grid_item(
        image_src=url_for('static',
        filename='images/placeholder.jpg'),
        title=event.title,
        subtitle=(event.occurrences[0].start_time.strftime("%b %e, %l:%M %p")),
        text=("+"+((occurrence_count-1)|string)+" more time" if occurrence_count != 1 else "") + ("s" if occurrence_count > 2 else ""),
        href=url_for('events.event_details',
        event_id=event.id)
    ) }}
</div>
{% endfor %}
{% endblock %}

{% block javascript %}
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
    const popover = new bootstrap.Popover('.popover-dismiss', {
        trigger: 'focus'
    });
</script>
{% endblock %}