{% macro contributor_item(contributor, role) %}
<a href="/people/{{contributor.user.id}}"
    class="col-auto align-items-center justify-content-center my-2 position-relative text-decoration-none text-body user-circle"
    style="width: 140px;">
    <div class="rounded-circle mx-auto bg-black overflow-hidden position-relative" style="height: 100px; width: 100px; object-fit: cover;">
        <img src="{{url_for('static', filename='images/placeholder.jpg')}}"
            class="img-fluid rounded-circle position-absolute top-50 start-50 translate-middle" alt="{{contributor.user.display_name}}"
            style="object-fit: cover;" />
    </div>
    <div class="text-center text-truncate w-100 fw-medium">{{contributor.user.display_name}}</div>
    <div class="text-center text-truncate w-100 fw-light text-body-tertiary">{{contributor.role}}</div>
</a>
{% endmacro %}

{% macro event_contributors(contributors, limit) %}
{% if limit %}
{% for contributor in contributors[:limit] %}
{{ contributor_item(contributor) }}
{% endfor %}
{% else %}
{% for contributor in contributors %}
{{ contributor_item(contributor) }}
{% endfor %}
{% endif %}
{% endmacro %}


{{ event_contributors(contributors, limit) }}