{% macro accessibility_icon(icon, danger, extra_classes="") %}
{% if icon == "photosensitivity" %}
{% set title = "photosensitivity-friendly" %}
{% if danger %}
{% set icon_name = "lightbulb-off-fill" %}
{% set popover_content = "This event may contain lighting effects that are not safe for individuals who experience photosensitivity." %}
{% else %}
{% set icon_name = "lightbulb-fill" %}
{% set popover_content = "Any lighting effects used during photosensitivity-friendly events should be safe for individuals who experience
photosensitivity." %}
{% endif %}
{% elif icon == "hearing" %}
{% set icon_name = "ear-fill" %}
{% set title = "hearing accessible" %}
{% set popover_content = "Events that are hearing accessible are, or have been modified to be, accessible for individuals who are deaf or hard of
hearing." %}
{% elif icon == "vision" %}
{% set icon_name = "eye-fill" %}
{% set title = "visually accessible" %}
{% set popover_content = "Events that are visually accessible are, or have been modified to be, accessible for individuals who are blind or have low
vision." %}
{% elif icon == "relaxed performance" %}
{% set icon_name = "infinity" %}
{% set title = "relaxed performance" %}
{% set popover_content = "<p>Relaxed performances are adapted shows for those who find standard theater settings challenging. This can include changes
    to
    lighting and audio volume, as well as relaxing theatre &quot;rules&quot;.</p><a
    href='https://www.sensoryfriendly.net/sensory-relaxed-performances/#What-makes-a-performance-relaxed' title='What is a relaxed performance?'
    target='_blank' rel='noopener noreferrer'>Click here to learn more.</a>" %}
{% elif icon == "mobility aid" %}
{% set icon_name = "person-wheelchair" %}
{% set title = "mobility aid accessible venue" %}
{% if danger %}
{% set popover_content = "This venue is <strong>not</strong> fully accessible for individuals who use mobility aids, such as wheelchairs." %}
{% else %}
{% set popover_content = "This venue is fully accessible for individuals who use mobility aids, such as wheelchairs." %}
{% endif %}
{% else %}
{% set icon_name = "question" %}
{% set title = "Error" %}
{% set popover_title = "Error" %}
{% set popover_content = "Congratulations! You've found a bug. This state should not exist." %}
{% endif %}
<li class="list-inline-item position-relative text-bg-{{ 'danger' if danger else 'primary' }} rounded-circle p-0 m-0 accessibility-icon {{extra_classes}}"
    title="{{ 'Not ' if danger }}{{ title|title }} - Click for more information">
    <a data-bs-content="{{ popover_content }}" tabindex="0" title="What does this mean?" role="button" data-bs-toggle="popover"
        data-bs-trigger="focus" data-bs-title="{{ 'Not ' if danger }}{{ title|title }}" data-bs-html="true">
        <i class="bi bi-{{ icon_name }} position-absolute top-50 start-50 translate-middle p-2"></i>
    </a>
</li>
{% endmacro %}


{% macro create_event_occurrence_helper(occurrence) %}
<div class="border rounded mb-2 py-3 px-2 mx-1 row align-items-center justify-content-between">
    <div class="col-auto">
        <div class="row justify-content-center justify-content-xl-start">
            <div class="col-lg-auto form-group">
                {{ occurrence.date.label(class_="form-label") }}
                {{ occurrence.date() }}
            </div>
            <div class="col-lg-auto form-group mt-lg-0 mt-2">
                {{ occurrence.start_time.label(class_="form-label") }}
                {{ occurrence.start_time() }}
            </div>
            <div class="col-lg-auto form-group mt-lg-0 mt-2">
                {{ occurrence.end_time.label(class_="form-label") }}
                {{ occurrence.end_time() }}
            </div>
        </div>
        <div class="form-text text-start text-lg-center text-xl-start">Leave "End time" blank to not specify an end time for this occurrence.</div>
        <div id="accessibility-info" class="form-group mt-3">
            <div class="form-check">
                {{ occurrence.is_relaxed_performance() }}
                {{ occurrence.is_relaxed_performance.label(class_="form-check-label") }}
                <a href="https://www.sensoryfriendly.net/sensory-relaxed-performances/#What-makes-a-performance-relaxed"
                    title="What is a relaxed performance?" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-question-circle"></i>
                </a>
            </div>
            <div class="form-check">
                {{ occurrence.is_photosensitivity_friendly() }}
                {{ occurrence.is_photosensitivity_friendly.label(class_="form-check-label") }}
            </div>
            <div class="form-check">
                {{ occurrence.is_hearing_accessible() }}
                {{ occurrence.is_hearing_accessible.label(class_="form-check-label") }}
            </div>
            <div class="form-check">
                {{ occurrence.is_visually_accessible() }}
                {{ occurrence.is_visually_accessible.label(class_="form-check-label") }}
            </div>
        </div>
    </div>
    <div class="col-xl-auto col d-flex justify-content-center justify-content-xl-end form-group mt-xl-0 mt-2">
        <button id="occurrence-occurrence_number-delete-btn" class="btn btn-danger delete-btn" type="button" value="occurrence_number">
            <i class="bi bi-trash3-fill"></i>
            Delete
        </button>
    </div>
</div>
{% endmacro %}


{% macro create_event_occurrence(occurrence, occurrence_number) %}
{{ create_event_occurrence_helper(occurrence) | replace("occurrence_number", occurrence_number|string) }}
{% endmacro %}


{% macro contributor_item(contributor, role) %}
<a href="{{ url_for('people.person', username=contributor.user.username) }}"
    class="contributor-item col-auto align-items-center justify-content-center my-2 position-relative text-decoration-none text-body user-circle">
    <div class="rounded-circle mx-auto overflow-hidden position-relative">
        <img src="{{url_for('static', filename='images/placeholder.jpg')}}"
            class="img-fluid rounded-circle position-absolute top-50 start-50 translate-middle" alt="{{contributor.user.display_name}}" />
    </div>
    <div class="text-center text-truncate w-100 fw-medium">{{contributor.user.display_name}}</div>
    <div class="text-center text-truncate w-100 fw-light text-body-tertiary">{{contributor.role}}</div>
</a>
{% endmacro %}


{% macro event_contributors(contributors, limit) %}
{% if limit %}
{% for contributor in contributors[:limit] %}
{{ contributor_item(contributor) }}
{% endfor %}
{% else %}
{% for contributor in contributors %}
{{ contributor_item(contributor) }}
{% endfor %}
{% endif %}
{% endmacro %}


{% macro grid_item(image_src, title, subtitle, text, href) %}
<div class="card grid-card mb-2">
    <a href="{{ href }}" class="overflow-hidden ratio ratio-16x9"><img src="{{ image_src }}" class="card-img-top"
            alt="Image preview for {{ title }}"></a>
    <div class="card-body">
        <div class="stretched-link-container">
            <h5 class="card-title text-truncate">{{ title }}</h5>
            {% if subtitle %}
            <h6 class="card-subtitle mb-2 text-muted text-truncate">{{ subtitle }}</h6>
            {% endif %}
            {% if text %}
            <p class="card-text text-truncate text-muted pb-0 mb-0">{{ text }}</p>
            {% endif %}
            <a href="{{ href }}" class="stretched-link"></a>
        </div>
    </div>
</div>
{% endmacro %}


{% macro set_password_field(errs, strength) %}
{% if strength == "Strong" %}
{% set bg = "text-bg-success" %}
{% elif strength == "Moderate" %}
{% set bg = "text-bg-warning" %}
{% else %}
{% set bg = "text-bg-danger" %}
{% endif %}

<div class="row my-2">
    <div class="col-12">
        <div class="d-flex flex-row form-text align-items-center">
            <small>
                <div class="rounded {{bg}} px-2 me-2" style="padding-block:2px">
                    <p class="mb-0 align-middle fw-medium">{{strength}}</p></small>
                </div>
            </small>
            {% if errs|length > 0 %}
                <div class="text-danger">Requirements</div>
            {% endif %}
        </div>
    </div>

    {% if errs|length > 0 %}
    <div class="col-12">
        <ul class="form-text m-0">
            {% for err in errs %}
            <li class="text-danger text-wrap">{{err.value}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endmacro %}