{% extends "base.html" %}

{% block title %}{{ opportunity.title }}{% endblock %}

{% block content %}
<div class="container">
    {% if edit %}
    <form action="{{ url_for('opportunities.opportunity', organizer=opportunity.organizer, title=opportunity.title) }}" method="POST">
        {% endif %}

        <div class="row">

            <div class="mb-4 col-12">
                <h5 class="px-3 py-1 me-4 d-inline rounded text-bg-{{post_type[opportunity.type.name]}}">{{opportunity.type.value.upper()}}</h5>
                <h4 class="m-0 mt-1 d-inline-block text-wrap fw-medium"><i class="bi bi-hourglass-split me-1"></i>{{"Deadline: "}}<span class="fw-normal">{{ opportunity.closing_date.strftime("%b %e, %Y") }}</span></h4>
            </div>

            <div class="col-12 col-lg-6">
                
                <p class="h2 fw-bold">{{opportunity.title}}</p>
                <p class="h3 text-body-tertiary">{{opportunity.organizer}}</p>
                {% if opportunity.tags|length > 0 %}
                <div class="row d-flex flex-wrap gx-1 pb-0 mb-0">
                    <div class="col-lg-auto col-12 d-lg-inline-block d-block mx-2 mb-1">
                        <i class="bi bi-tag{{'s' if opportunity.tags|length > 1}}-fill" aria-describedby="Tags"></i>
                        <span class="d-lg-none">Tags</span>
                    </div>
                    {% for tag in opportunity.tags %}
                    <form class="col-auto mb-1" action="{{ url_for('opportunities.opportunities_list') }}" method="POST">
                        <button name="tags" value="{{ tag.name }}"
                            class="me-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">{{ tag.name }}</button>
                    </form>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            

            <div class="col-12 col-lg-6">
                <div id="poster-data" class="row flex-lg-row-reverse my-4 align-items-center">
                    <a href="{{ url_for('people.person', username=opportunity.poster.username) }}" class="col-auto mx-0 mx-md-4 rounded-circle">
                        <img src="{{url_for('static', filename='images/placeholder.jpg')}}"
                            class="img-fluid rounded-circle"
                            width="100px" alt="{{opportunity.poster.display_name}}" />
                    </a>
                    <div class="col-auto">
                        <p class="h3 mb-2">{{opportunity.poster.display_name}}</p>
                        <p class="m-0 fw-medium">{{"Posted: "}}<span class="fw-normal">{{ opportunity.date_posted.strftime("%b %e, %Y") }}</span></p>
                        <p class="m-0 fw-medium">{{"Modified: "}}<span class="fw-normal">{{ opportunity.last_modified.strftime("%b %e, %Y") }}</span></p>
                    </div>
                </div>
            </div>
            
            <hr class="my-3"/>

            <div class="col-12"> <!-- PAY/WHEN/WHERE SECTION START -->
                <div class="row gx-4 gy-2"> 
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="bg-body-tertiary py-3 px-4 h-100 rounded">
                            <div class="d-flex flex-row w-100 align-items-center">
                                <div class="h4 mb-0"><i class="bi bi-cash me-3"></i>Pay</div>
                            </div>
                            <div class="mt-2 fw-medium">
                                {% if opportunity.is_paid %}
                                {{opportunity.pay}}
                                {% else %}
                                None
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="bg-body-tertiary py-3 px-4 h-100 rounded">
                            <div class="d-flex flex-row w-100 align-items-center">
                                <div class="h4 mb-0"><i class="bi bi-clock me-3"></i>Duration</div>
                                <div class="ms-auto fw-medium">
                                    {% if opportunity.term %}
                                    {{opportunity.term.value}}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="mt-2"><span class="fw-medium">Starts: </span>{{opportunity.start_date.strftime("%b %e, %Y")}}</div>
                            {% if opportunity.end_date %}
                                <div class="mt-1"><span class="fw-medium">Closes: </span>{{opportunity.end_date.strftime("%b %e, %Y")}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="bg-body-tertiary py-3 px-4 h-100 rounded">
                            <div class="d-flex flex-row w-100 align-items-center">
                                <div class="h4 mb-0"><i class="bi bi-geo-alt me-3"></i>Location</div>
                                <div class="ms-auto fw-medium">
                                    {{opportunity.location_type.value}}
                                </div>
                            </div>
                            <div class="mt-2 fw-medium">{{opportunity.location}}</div>
                        </div>
                    </div>
                </div> 
            </div> <!-- PAY/WHEN/WHERE SECTION END -->

            <div class="col-12 mt-5 mb-3">
                <div class="row gy-2">
                    <div class="col-12 col-md-4 col-lg-3">
                        <div id="content-table" class="list-group">
                            <a class="list-group-item list-group-item-action" href="#description">Description</a>
                            {% if opportunity.responsibilities %}
                                <a class="list-group-item list-group-item-action" href="#responsibilities">Responsibilities</a>
                            {% endif %}
                            <a class="list-group-item list-group-item-action" href="#requirements">Requirements</a>
                            <a class="list-group-item list-group-item-action" href="#compensation">Compensation</a>
                            {% if opportunity.additional_info %}
                                <a class="list-group-item list-group-item-action" href="#additional">Additional Info</a>
                            {% endif %}
                            <a class="list-group-item list-group-item-action" href="#application">Application Details</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-9">
                        <div data-bs-spy="scroll" data-bs-target="#content-table" data-bs-smooth-scroll="true" class="opportunity-post-content" tabindex="0">
                            <div class="mb-3">
                                <h4 id="description" >Description</h4>
                                <p>{{opportunity.description}}</p>
                            </div>
                            {% if opportunity.responsibilities %}
                                <div class="mb-3">
                                    <h4 id="responsibilities">Responsibilities</h4>
                                    <p>{{opportunity.responsibilities}}</p>
                                </div>
                            {% endif %}
                            <div class="mb-3">
                                <h4 id="requirements">Requirements</h4>
                                <p>{{opportunity.requirements}}</p>
                            </div>
                            <div class="mb-3">
                                <h4 id="compensation">Compensation / Benefits</h4>
                                <p>{{opportunity.compensation}}</p>
                            </div>
                            {% if opportunity.additional_info %}
                                <div class="mb-3">
                                    <h4 id="additional">Additional Information</h4>
                                    <p>{{opportunity.additional_info}}</p>
                                </div>
                            {% endif %}
                            <div class="mb-3">
                                <h4 id="application">Application Details</h4>
                                <p>{{opportunity.application_details}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if edit %}
    </form>
    {% endif %}
</div>
{% endblock %}