{% extends "filtered-list-view.html" %}
{% block title %}Opportunities{% endblock %}
{% block header_text %}Opportunities{% endblock %}
{% block filters %}
<div class="form-group mb-3">
    {{ filters.sort_option.label() }}
    {{ filters.sort_option() }}
</div>
<div class="form-group mb-3">
    <label class="form-label">{{ filters.opportunity_type.description }}</label>
    {% for type in post_type %}
    <div class="form-check">
        {{ filters.opportunity_type.form[type] }}
        {{ filters.opportunity_type.form[type].label(class_="form-check-label badge rounded-pill text-bg-" + post_type[type]) }}
    </div>
    {% endfor %}
</div>
<div class="form-group mb-3">
    <label class="form-label">{{ filters.term_type.description }}</label>
    {% for term in term_type %}
    <div class="form-check">
        {{ filters.term_type.form[term.name] }}
        {{ filters.term_type.form[term.name].label(class_="form-check-label") }}
    </div>
    {% endfor %}
</div>
<div class="form-group mb-3">
    <label class="form-label">{{ filters.location_type.description }}</label>
    {% for location in location_type %}
    <div class="form-check">
        {{ filters.location_type.form[location.name] }}
        {{ filters.location_type.form[location.name].label(class_="form-check-label") }}
    </div>
    {% endfor %}
</div>
<div class="form-group mb-3">
    <label class="form-label">{{ filters.compensation_type.description }}</label>
    <div class="form-check">
        {{ filters.compensation_type.form.is_paid }}
        {{ filters.compensation_type.form.is_paid.label(class_="form-check-label") }}
    </div>
</div>
<div class="form-group mb-3">
    <div class="row align-items-center py-1">
        <div class="col-auto pe-0 me-1">
            <label class="form-label m-0">Match</label>
        </div>
        <div class="col-auto px-0 me-1">
            {{ filters.match_all_tags() }}
        </div>
        <div class="col-auto ps-0">
            <label class="form-label m-0">of these tags</label>
        </div>
    </div>
    {{ filters.tags() }}
    <div id="tags-help-block" class="form-text">{{ filters.tags.description }}</div>
</div>
<div class="form-group">
    <div class="col-12 ">
        {{ filters.applyFilterSubmit }}
        {{ filters.clearFilterSubmit }}
    </div>
</div>
{% endblock %}


{% block items_to_list %}
    <div class="mt-4 mb-1">
    {% for opportunity in opportunities %}
    <div class="col-12 mt-0 mb-3">
        <div class="card overflow-hidden border-{{post_type[opportunity.type.name]}} border-2">
            <div class="card-header pt-3 pb-2 border-{{post_type[opportunity.type.name]}}">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="card-title text-truncate mb-0">
                        {{opportunity.title}}</h5>
                    <div class="badge rounded-pill text-bg-{{post_type[opportunity.type.name]}}">{{opportunity.type.value}}</div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6 class="card-subtitle text-truncate text-body-secondary">{{opportunity.organizer}}</h6>
                    <h6 class="card-subtitle text-body-secondary">{{opportunity.start_date.strftime("Starting %b %e")}}</h6>
                </div>
                <small>
                    <div class="d-flex align-items-center">
                        {% if opportunity.is_paid %}
                        <i class="bi bi-cash me-2"></i>
                        <div class="me-3">Paid</div>
                        {% endif %}
                        {% if opportunity.term %}
                        <i class="bi bi-clock me-2"></i>
                        <div class="me-3">{{opportunity.term.value}}</div>
                        {% endif %}
                        <i class="bi bi-geo-alt me-2"></i>
                        <div class="me-3">{{opportunity.location_type.value}}</div>
                    </div>
                </small>
            </div>
            <div class="card-body">
                <p class="card-text mb-2">{{opportunity.display_description}}</p>
                {% if opportunity.tags|length > 0 %}
                <div class="d-flex align-items-center overflow-x-hidden">
                    <i class="bi bi-tags-fill me-1"></i>
                        {% for tag in opportunity.tags %}
                        <button class="ms-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">{{tag.name}}</button>
                        {%endfor%}
                </div> 
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}

<script>

</script>

{% endblock %}



                