{% extends "base.html" %}

{% block title %}{{ opportunity.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="d-flex flex-wrap mb-2 col-12">
            <h6 class="px-3 py-1 me-4 d-inline rounded text-bg-{{post_type[opportunity.type.name]}}">{{opportunity.type.value.upper()}}</h6>
            <h5 class="m-0 mt-1 d-inline-block text-wrap fw-medium">
                <i class="bi bi-hourglass-split me-1"></i>{{"Deadline: "}}<span class="fw-normal">{{ opportunity.closing_date.strftime("%b %e, %Y") }}</span>
            </h5>
            
            {% if edit %}
            <div class="ms-md-auto mt-3 mt-md-0">
                <a href="{{ url_for('opportunities.edit_opportunity', organizer=opportunity.organizer, title=opportunity.title) }}" class="btn btn-secondary">Edit Post</a>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal">
                    Delete Post
                </button>
            </div>
            <div class="modal fade" id="confirm-delete-modal" tabindex="-1" aria-labelledby="confirm-delete-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="confirm-delete-modal-label">Delete Opportunity Post</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete the posting for <strong>{{opportunity.title}}</strong>? This action cannot be undone.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form action="{{ url_for('opportunities.delete_opportunity', organizer=opportunity.organizer, title=opportunity.title) }}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% elif user.is_authenticated %}            
            {% from "macros.html" import content_report_modal %}
            <div class="col d-flex justify-content-end">
                {{ content_report_modal(
                    reported=reported, 
                    content_type="Opportunity",
                    content_name=opportunity.title,
                    report_post_addr=url_for('opportunities.submit_opportunity_report', reporter=user.username, reported_title=opportunity.title, reported_org=opportunity.organizer),
                    cancel_post_addr=url_for('opportunities.cancel_opportunity_report', reporter=user.username, reported_title=opportunity.title, reported_org=opportunity.organizer),
                ) }}
            </div>
            {% endif %}
        </div>

        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
            
            <p class="h2 fw-bold">{{opportunity.title}}</p>
            <p class="h3 text-body-tertiary">{{opportunity.organizer}}</p>
            {% if opportunity.tags|length > 0 %}
            <div class="row d-flex flex-wrap gx-1 pb-0 mb-0">
                <div class="col-lg-auto col-12 d-lg-inline-block d-block mx-2 mb-1">
                    <i class="bi bi-tag{{'s' if opportunity.tags|length > 1}}-fill" aria-describedby="Tags"></i>
                    <span class="d-lg-none">Tags</span>
                </div>
                {% for tag in opportunity.tags %}
                <form class="col-auto mb-1" action="{{ url_for('opportunities.opportunities_list') }}" method="POST">
                    <button name="tags" value="{{ tag.name }}"
                        class="me-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">{{ tag.name }}</button>
                </form>
                {% endfor %}
            </div>
            {% endif %}
            {% if opportunity.number_positions %}
            <h5 class="my-2">
                <i class="mx-1 bi bi-people"></i>
                <strong>{{opportunity.number_positions}}</strong>
                Open Position{{"s" if opportunity.number_positions > 1 else ""}}
            </h5>
            {% endif %}
        </div>

        

        <div class="col-12 col-lg-6">
            <div id="poster-data" class="row flex-lg-row-reverse my-4 align-items-center">
                <a href="{{ url_for('people.person', username=opportunity.poster.username) }}" class="col-auto mx-0 mx-md-4 rounded-circle">
                    <img src="{{url_for('static', filename='images/placeholder.jpg')}}"
                        class="img-fluid rounded-circle"
                        width="100px" alt="{{opportunity.poster.display_name}}" />
                </a>
                <div class="col-auto">
                    <p class="h3 mb-2 fw-bold">{{opportunity.poster.display_name}}</p>
                    <p class="m-0 fw-medium">{{"Posted: "}}<span class="fw-normal">{{ opportunity.date_posted.strftime("%b %e, %Y") }}</span></p>
                    <p class="m-0 fw-medium">{{"Modified: "}}<span class="fw-normal">{{ opportunity.last_modified.strftime("%b %e, %Y") }}</span></p>
                </div>
            </div>
        </div>
        
        <hr class="my-3"/>

        <div class="col-12"> <!-- PAY/WHEN/WHERE SECTION START -->
            <div class="row gx-4 gy-3 justify-content-center"> 
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="bg-body-tertiary py-3 px-4 h-100 rounded">
                        <div class="d-flex flex-row w-100 align-items-center">
                            <div class="h4 mb-0"><i class="bi bi-cash me-2"></i>Pay</div>
                        </div>
                        <div class="mt-2 fw-medium">
                            {% if opportunity.is_paid %}
                            {{opportunity.pay}}
                            {% else %}
                            None
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="bg-body-tertiary py-3 px-4 h-100 rounded">
                        <div class="d-flex flex-row w-100 align-items-center">
                            <div class="h4 mb-0"><i class="bi bi-clock me-2"></i>Duration</div>
                            <div class="ms-auto fw-medium">
                                {% if opportunity.term %}
                                {{opportunity.term.value}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="mt-2"><span class="fw-medium">Starts: </span>{{opportunity.start_date.strftime("%b %e, %Y")}}</div>
                        {% if opportunity.end_date %}
                            <div class="mt-1"><span class="fw-medium">Closes: </span>{{opportunity.end_date.strftime("%b %e, %Y")}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="bg-body-tertiary py-3 px-4 h-100 rounded">
                        <div class="d-flex flex-row w-100 align-items-center">
                            <div class="h4 mb-0"><i class="bi bi-geo-alt me-2"></i>Location</div>
                            <div class="ms-auto fw-medium">
                                {{opportunity.location_type.value}}
                            </div>
                        </div>
                        <div class="mt-2 fw-medium">{{opportunity.location}}</div>
                    </div>
                </div>
            </div> 
        </div> <!-- PAY/WHEN/WHERE SECTION END -->

        <div class="col-12 mt-5 mb-3">
            <div class="row gy-4"> <!-- CONTENT ROW START -->
                <div class="col-12 col-md-auto">
                    <div id="content-table" class="bg-body-tertiarybg-body-tertiary list-group p-2">
                        <div class="h4 mb-0 pt-2 pb-3 ps-3 pe-5">Contents</div>
                        <a class="list-group-item list-group-item-action pe-5" href="#description">Description</a>
                        {% if opportunity.responsibilities %}
                            <a class="list-group-item list-group-item-action pe-5" href="#responsibilities">Responsibilities</a>
                        {% endif %}
                        <a class="list-group-item list-group-item-action pe-5" href="#requirements">Requirements</a>
                        <a class="list-group-item list-group-item-action pe-5" href="#compensation">Compensation</a>
                        {% if opportunity.additional_info %}
                            <a class="list-group-item list-group-item-action pe-5" href="#additional">Additional Info</a>
                        {% endif %}
                        <a class="list-group-item list-group-item-action pe-5" href="#application">Application Details</a>
                    </div>
                </div>
                <div class="col-12 col-md">
                    <div data-bs-spy="scroll" data-bs-target="#content-table" data-bs-smooth-scroll="true" class="opportunity-post-content pe-1" tabindex="0">
                        <div class="mb-3">
                            <h4 id="description" >Description</h4>
                            <p>{{opportunity.description|safe}}</p>
                        </div>
                        <hr/>
                        {% if opportunity.responsibilities %}
                            <div class="mb-3">
                                <h4 id="responsibilities">Responsibilities</h4>
                                <p>{{opportunity.responsibilities|safe}}</p>
                            </div>
                            <hr/>
                        {% endif %}
                        <div class="mb-3">
                            <h4 id="requirements">Requirements</h4>
                            <p>{{opportunity.requirements|safe}}</p>
                        </div>
                        <hr/>
                        <div class="mb-3">
                            <h4 id="compensation">Compensation / Benefits</h4>
                            <p>{{opportunity.compensation|safe}}</p>
                        </div>
                        <hr/>
                        {% if opportunity.additional_info %}
                            <div class="mb-3">
                                <h4 id="additional">Additional Information</h4>
                                <p>{{opportunity.additional_info|safe}}</p>
                            </div>
                            <hr/>
                        {% endif %}
                        <div class="mb-3">
                            <h4 id="application">Application Details</h4>
                            <p>{{opportunity.application_details|safe}}</p>
                        </div>
                        <hr/>
                        {% if opportunity.application_link %}
                        <div class="mb-3">
                            <h4 id="application">Application Link:</h4>
                            <a href="{{opportunity.application_link}}">{{opportunity.application_link}}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div> <!-- CONTENT ROW END -->
            
        </div>
    </div>
</div>
{% endblock %}