{% extends "filtered-list-view.html" %}
{% block title %}People{% endblock %}
{% block header_text %}People{% endblock %}
{% block filters %}
<div class="form-group mb-3">
    {{ filters.sortOption.label() }}
    {{ filters.sortOption() }}
</div>
<div class="form-group mb-3">
    <label class="form-label">{{ filters.organizationType.description }}</label>
    <div class="form-check">
        {{ filters.organizationType.form.individual }}
        {{ filters.organizationType.form.individual.label(class_="form-check-label") }}
    </div>
    <div class="form-check">
        {{ filters.organizationType.form.group }}
        {{ filters.organizationType.form.group.label(class_="form-check-label") }}
    </div>
    <div class="form-check">
        {{ filters.organizationType.form.organization }}
        {{ filters.organizationType.form.organization.label(class_="form-check-label") }}
    </div>
</div>
<div class="form-group mb-3">
    <label class="form-label">{{ filters.filters.description }}</label>
    <div class="form-check">
        {{ filters.filters.form.choreographer }}
        {{ filters.filters.form.choreographer.label(class_="form-check-label") }}
    </div>
    <div class="form-check">
        {{ filters.filters.form.designer }}
        {{ filters.filters.form.designer.label(class_="form-check-label") }}
    </div>
    <div class="form-check">
        {{ filters.filters.form.writer }}
        {{ filters.filters.form.writer.label(class_="form-check-label") }}
    </div>
    <div class="form-check">
        {{ filters.filters.form.producer }}
        {{ filters.filters.form.producer.label(class_="form-check-label") }}
    </div>
    <div class="form-check">
        {{ filters.filters.form.stageManager }}
        {{ filters.filters.form.stageManager.label(class_="form-check-label") }}
    </div>
    <div class="form-check">
        {{ filters.filters.form.other }}
        {{ filters.filters.form.other.label(class_="form-check-label") }}
    </div>
</div>
<div class="col-12 ">
    {{ filters.applyFilterSubmit }}
    {{ filters.clearFilterSubmit }}
</div>
{% endblock %}

{% block items_to_list %}
{% from 'grid-item.html' import grid_item %}
{% for person in people %}
<div class="col-auto">
    {{ grid_item(image_src=url_for('static', filename='images/placeholder.jpg'), title=person.display_name,
    tags=person.tags, href="/people/"+(person.id|string)) }}
</div>
{% endfor %}
{% endblock %}