{% extends "base.html" %}

{% block title %}Person{% endblock %}

{% block content %}
<div class="container">
    {% if edit %}
    <form action="{{ url_for('people.edit_person', id=person.id) }}" method="POST">
        {% endif %}
        <div class="row align-items-center mb-4">
            <div class="col">
                {% block edit_person_display_name_pronouns %}
                <div class="row p-0 m-0 align-items-center">
                    <div class="col-auto justify-content-start p-0 pe-2 m-0">
                        <h1>{{ person.display_name }}</h1>
                    </div>
                    {% if person.pronouns != "" %}
                    <div class="col-auto justify-content-start p-0 text-muted">
                        {{person.pronouns}}
                    </div>
                    {% endif %}
                </div>
                <div class="col-auto justify-content-start mb-3 text-muted">
                    <h5>@{{person.username}}</h5>
                </div>
                {% endblock %}

                {% block edit_person_tags %}
                {% if person.tags|length > 0 %}
                <div class="row d-flex flex-wrap gx-1">
                    {% for tag in person.tags %}
                    <form class="col-auto" action="{{ url_for('people.people_list') }}" method="POST">
                        <button name="tags" value="{{ tag.name }}"
                            class="me-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">{{ tag.name }}</button>
                    </form>
                    {% endfor %}
                </div>
                {% endif %}
                {% endblock %}
            </div>

            {% if user.is_authenticated and user.id == person.id%}

            <div class="col d-flex justify-content-end">
                {% block edit_person_saveChanges %}
                <a href="/people/{{ user.id }}/edit">
                    <button class="btn btn-primary px-4"> Edit Profile </button>
                </a>
                {% endblock %}
            </div>
            {% endif %}

        </div> <!-- HEADER ROW END -->


        <div class="row mb-4">
            <div class="col-12 col-md-5 col-xl-3">
                <div class="rounded mb-4 overflow-hidden ratio ratio-1x1">
                    <img src="{{url_for('static', filename='images/placeholder.jpg')}}" class="img-fluid" alt="{{person.display_name}}" />
                </div>
                <!-- CONTACTS BLOCK -->
                <div class="p-3 bg-body-tertiary rounded text-decoration-none">
                    <p class="h4">Contact</p>
                    {% block edit_person_EditContacts %}
                    {% for site in socials %}
                    {% set icon_name = site %}
                    {% set url_prefix = "https://" %}
                    {% set handle = socials[site] %}
                    {% if site == "website" %}
                    {% set icon_name = "globe" %}
                    {% elif site == "instagram" %}
                    {% set url_prefix = "https://www.instagram.com/" %}
                    {% elif site == "email" %}
                    {% set icon_name = "envelope-at" %}
                    {% set url_prefix = "mailto:" %}
                    {% elif site == "threads" %}
                    {% set url_prefix = "https://www.threads.net/@" %}
                    {% elif site == "tiktok" %}
                    {% set url_prefix = "https://www.tiktok.com/@" %}
                    {% elif site == "twitter" %}
                    {% set icon_name = "twitter-x" %}
                    {% set url_prefix = "https://twitter.com/" %}
                    {% elif site == "facebook" %}
                    {% set url_prefix = "https://facebook.com/" %}
                    {% endif %}
                    <div class="row align-items-center ps-3 py-1">
                        <div class="col-auto p-0">
                            <div class="p-1 bg-icon-background rounded text-light d-flex justify-content-center" style="width: 32px">
                                <i class="bi bi-{{ icon_name }}" style="font-size: 1rem;"></i>
                            </div>
                        </div>
                        <div class="col-10 ps-2 text-no-wrap text-truncate">
                            <a href="{{ url_prefix }}{{ handle.replace('https://', '', 1).replace('http://', '', 1) }}">{{ handle }}</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endblock %}
                </div> <!-- LEFT BLOCK END -->
                {% block edit_person_password %}
                {% endblock %}
            </div>

            <div class="col-12 col-md-7 col-xl-9 pl-xl-5 pl-3">
                <div class="pb-4">
                    <p class="h4">Bio</p>
                    <p>
                        {% block edit_person_bio %}
                        {% if bio == None %}
                        This user has not added a bio to their profile yet.
                        {% else %}
                        {{ bio }}
                        {% endif %}
                        {% endblock %}
                    </p>
                </div>
                <div class="pb-4">
                    <p class="h4">Events</p>
                    <div class="row overflow-x-scroll">
                        {% from 'macros.html' import grid_item %}
                        {% for event in events %}
                        <div class="col-auto">
                            <div class="col-auto">
                                {{ grid_item(image_src=url_for('static', filename='images/placeholder.jpg'),
                                title=event.title,
                                subtitle=(((event.occurrences|length)|string)+" occurrences" if event.occurrences|length
                                != 1 else
                                (event.occurrences[0].start_time.strftime("%A, %B %e"))), tags=event.tags,
                                href="/events/"+(event.id|string)) }}
                            </div>
                            <p>Event Times</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="pb-4">
                    <p class="h4">Affiliated</p>
                    <div class="row-10 d-flex flex-no-wrap overflow-x-scroll ">
                        {% for user in affiliations %}
                        <div class="col-auto">
                            {{ grid_item(image_src=url_for('static', filename='images/placeholder.jpg'),
                            title=user.display_name,
                            subtitle="@" + user.username, tags=user.tags,
                            href="/people/"+(user.id|string)) }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div> <!-- RIGHT BLOCK END -->
        </div> <!-- BODY ROW END -->
        {% if edit %}
    </form>
    {% endif %}
</div>
{% endblock %}