{% extends "base.html" %}

{% block title %}{{ person.display_name }}{% endblock %}

{% block content %}
<div class="container">
    {% if edit %}
    <form action="{{ url_for('people.edit_person', username=person.username) }}" method="POST" enctype="multipart/form-data">
        {% endif %}
        <div class="row align-items-center mb-4">
            <div class="col">
                {% block edit_person_display_name_pronouns %}
                <div class="row p-0 m-0 align-items-center">
                    <div class="col-auto justify-content-start p-0 pe-2 m-0">
                        <h1>{{ person.display_name }}</h1>
                    </div>
                    {% if person.pronouns != "" %}
                    <div class="col-auto justify-content-start p-0 text-muted">
                        {{person.pronouns}}
                    </div>
                    {% endif %}
                </div>
                <div class="col-auto justify-content-start mb-3 text-muted">
                    <h5>@{{person.username}}</h5>
                </div>
                {% endblock %}

                {% block edit_person_tags %}
                {% if person.tags|length > 0 %}
                <div class="row d-flex flex-wrap gx-1 pb-0 mb-0">
                    {% if person.tags and person.tags|length > 0 %}
                    <div class="col-lg-auto col-12 d-lg-inline-block d-block me-1 mb-1">
                        <i class="bi bi-tag{{'s' if person.tags|length > 1}}-fill" aria-describedby="Tags"></i>
                        <span class="d-lg-none">Tags</span>
                    </div>
                    {% for tag in person.tags %}
                    <form class="col-auto mb-1" action="{{ url_for('people.people_list') }}" method="POST">
                        <button name="tags" value="{{ tag.name }}" class="me-1 mb-1 px-2 py-0 bg-opacity-25 rounded text-nowrap tag btn btn-sm">{{ tag.name
                            }}</button>
                    </form>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
                {% endblock %}
            </div>

            {% if user.is_authenticated and user.id == person.id %}
            <div class="col d-flex justify-content-end">
                {% block edit_person_saveChanges %}
                <a href="{{ url_for('people.edit_person', username=user.username) }}">
                    <button class="btn btn-primary px-4"> Edit Profile </button>
                </a>
                {% endblock %}
            </div>
            {% elif user.is_authenticated %}
                {% from "macros.html" import content_report_modal %}
                <div class="col d-flex justify-content-end">
                    {{ content_report_modal(
                        reported=reported, 
                        content_type="User",
                        content_name=person.display_name,
                        report_post_addr=url_for('people.submit_user_report', reporter=user.username, reported=person.username),
                        cancel_post_addr=url_for('people.cancel_user_report', reporter=user.username, reported=person.username),
                    ) }}
                </div>
            {% endif %}

        </div> <!-- HEADER ROW END -->


        <div class="row mb-4">
            <div class="col-12 col-md-5 col-xl-3">
                <div class="rounded mb-4 overflow-hidden ratio ratio-1x1">
                    <img src="{{ person.get_profile_pic_url() }}" class="img-fluid" alt="{{person.display_name}}" />
                </div>
                <!-- CONTACTS BLOCK -->
                {% block edit_person_EditContacts %}
                <div class="p-3 bg-body-tertiary rounded text-decoration-none">
                    <h4><i class="bi bi-chat-dots-fill pe-2"></i>Contact</h4>
                    {% if socials %}
                    {% for site in socials %}
                    {% set icon_name = site %}
                    {% set url_prefix = "https://" %}
                    {% set handle = socials[site] %}
                    {% if site == "website" %}
                    {% set icon_name = "globe2" %}
                    {% elif site == "instagram" %}
                    {% set url_prefix = "https://www.instagram.com/" %}
                    {% elif site == "email" %}
                    {% set icon_name = "envelope-at" %}
                    {% set url_prefix = "mailto:" %}
                    {% elif site == "threads" %}
                    {% set url_prefix = "https://www.threads.net/@" %}
                    {% elif site == "tiktok" %}
                    {% set url_prefix = "https://www.tiktok.com/@" %}
                    {% elif site == "twitter" %}
                    {% set icon_name = "twitter-x" %}
                    {% set url_prefix = "https://twitter.com/" %}
                    {% elif site == "facebook" %}
                    {% set url_prefix = "https://facebook.com/" %}
                    {% endif %}
                    <a href="{{ url_prefix }}{{ handle.replace('https://', '', 1).replace('http://', '', 1) }}"
                        class="row align-items-center ps-3 py-1 text-decoration-none">
                        <div class="col-auto p-0">
                            <div class="p-1 btn btn-primary rounded text-light d-flex justify-content-center social-icon">
                                <i class="bi bi-{{ icon_name }}"></i>
                            </div>
                        </div>
                        <div class="col-10 ps-2 text-no-wrap text-truncate text-body">
                            {{ handle }}
                        </div>
                    </a>
                    {% endfor %}

                    {% endif %}
                </div> <!-- LEFT BLOCK END -->
                {% endblock %}
                {% block edit_person_password %}
                {% endblock %}
            </div>

            <div class="col-12 col-md-7 col-xl-9 pl-xl-5 pl-3">
                <div class="pb-4">
                    <h4><i class="bi bi-person-fill pe-2"></i>Bio</h4>
                    <p>
                        {% block edit_person_bio %}
                        {% if bio == None %}
                        This user has not added a bio to their profile yet.
                        {% else %}
                        {{ bio }}
                        {% endif %}
                        {% endblock %}
                    </p>
                </div>
                <div class="pb-4">
                    <h4><i class="bi bi-calendar-week-fill pe-2"></i>Events</h4>
                    <div class="row-12 d-flex flex-no-wrap overflow-x-scroll ">
                        {% from 'macros.html' import grid_item %}
                        {% for contributed in events_contributed %}
                        {% if contributed.event.occurrences|length != 0%}
                        <div class="col-auto me-2">
                            {{ grid_item(
                                image_src=url_for('static',
                                filename='images/placeholder.jpg'),
                                title=contributed.event.title,
                                subtitle=contributed.role,
                                text=("Next: " ~ contributed.event.next_occurrence.start_time.strftime('%b %-d, %-I:%M %p')) if contributed.event.next_occurrence else ("Last: " ~ (contributed.event.occurrences|last).start_time.strftime('%b %-d, %-I:%M %p')) if contributed.event.occurrences|length > 0 else "",
                                href=url_for('events.event_details',
                                    event_id=contributed.event.id)
                            ) }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="pb-4">
                    <h4><i class="bi bi-people-fill pe-2"></i>Affiliated</h4>
                    <div class="row-12 d-flex flex-no-wrap overflow-x-scroll ">
                        {% if affiliations != None %}
                        {% for affiliation in affiliations %}
                        <div class="col-auto me-2">
                            {{ grid_item(image_src=url_for('static', filename='images/placeholder.jpg'),
                            title=affiliation.display_name,
                            subtitle="@" + affiliation.username,
                            text=affiliations[affiliation][0].title if affiliations[affiliation]|length == 1 else
                            (affiliations[affiliation]|length) ~ " events",
                            href=url_for('people.person', username=affiliation.username)) }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div> <!-- RIGHT BLOCK END -->
        </div> <!-- BODY ROW END -->
        {% if edit %}
    </form>
    {% endif %}
</div>
{% endblock %}